/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 80%);
    --section-padding: 100px;
}
/* End Variables */
/* Start Global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global rules */
/* Start Components */
/* Main heading */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 70px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -37px;
    background-color: white;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    line-height: 2;
    color: #777;
    max-width: 100%;
}
/* End Components */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    height: 1px;
    left: 15px;
}
header .logo img {
    width: 105px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media (max-width: 767.98px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 50%);
    }
    header nav ul li a {
        padding: 15px !important;
    }
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 40px;
    border-left: 1px solid white;
}
header nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../images/landing.png);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .landing-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media (max-width: 767px) {
    .landing .landing-arrow {
        display: none;
    }
}
.landing .landing-arrow.left {
    left: 20px;
}
.landing .landing-arrow.right {
    right: 20px;
}
.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-box {
    display: flex;
}
.services .srv-box i {
    margin-right: 50px;
}
@media (max-width: 767.98px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i {
        margin: 0 0 30px;
    }
}
.services .srv-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box .text p {
    line-height: 2;
    color: #777;
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
@media (max-width: 767.98px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
}
.design .text {
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}
/* Style images and caption*/
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1200px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    width: 100%;
    background-color: white;
    bottom: -100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
}
/* End Portfolio */
/* Start Video Section */
.video-sect {
    position: relative;
}
.video-sect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video-sect video {
    width: 100%;
}
.video-sect .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    text-align: center;
    color: white;
    background-color: var(--transparent-color);
}
.video-sect .text h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.video-sect .text p {
    margin-bottom: 30px;
}
.video-sect .text button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
}
/* End Video Section */
/* Start About */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}
.about img {
    position: relative;
    top: 120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767.98px) {
    .about img {
        top: 60px;
        margin-top: -60px;
    }
}
/* End About */
/* Start Stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stats.png);
    background-size: cover;
    text-align: center;
    position: relative;
}
.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}
@media (max-width: 767.98px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .container .box p {
    font-size: 14px;
}
/* End Stats */
/* Start Skills and Testemonials Section */
.skills_testml {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills_testml .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .skills_testml .container > div {
        flex-basis: 45%;
    }
}
.skills_testml .container > div > h3 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.skills_testml .container > div > p {
    color: #777;
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
}
.skills_testml .testemonials .content {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 30px;
}
.skills_testml .testemonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media (max-width: 767px) {
    .skills_testml .testemonials .content {
        flex-direction: column;
        text-align: center;
    }
    .skills_testml .testemonials .content img {
        margin: 0 auto 20px;
    }
}
.skills_testml .testemonials .content .texte {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.skills_testml .testemonials .content .texte p {
    text-align: right;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.skills_testml .testemonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills_testml .testemonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.skills_testml .testemonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills_testml .our-skills .prog-holder {
    margin-bottom: 40px;
}
.skills_testml .our-skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.skills_testml .our-skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.skills_testml .our-skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills_testml .our-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: -20px;
    top: -40px;
    background-color: black;
    color: white;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.skills_testml .our-skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: black transparent transparent;
    border-width: 8px;
    right: -8px;
    top: -15px;
}
/* End Skills and Testemonials Section */
/* Start Quote Section */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
.quote .container {
    position: relative;
}
.quote q {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}
.quote q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
    margin-right: 6px;
    position: relative;
    top: -8px;
}
.quote q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 900;
    margin-left: 6px;
    position: relative;
    top: 4px;
}
/* End Quote Section */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
@media (min-width: 992px) {
    .pricing .plans {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}
.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 600;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-weight: normal;
    font-size: 27px;
    position: relative;
    top: -40px;
    margin-right: 15px;
}
.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.pricing .plans .plan .foot a {
    display: block;
    border: 1px solid var(--main-color);
    width: fit-content;
    padding: 22px 22px;
    text-decoration: none;
}
.pricing .contact-text {
    text-align: center;
    font-size: 20px;
    margin: 50px auto 20px;
}
.pricing .contact-link {
    display: block;
    width: fit-content;
    text-decoration: none;
    background-color: var(--main-color);
    font-size: 16px;
    color: white;
    margin: 20px auto;
    padding: 15px 30px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    color: white;
    position: relative;
}
.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991.98px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    width: 500px;
    position: relative;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.subscribe form input[type="email"] {
    background: none;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    padding: 10px 20px;
    text-transform: uppercase;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}
.subscribe p {
    margin-left: 50px;
    line-height: 2;
}
@media (max-width: 991.98px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}
/* End Subscribe */